.hero {
    margin-bottom: 160px;
    width: 1111px;
    height: 252px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #E7816B;

    &-title {
        width: 730px;
        margin: 0 auto;
        color: #FFF;
        padding-top: 64px;
        text-align: center;
        margin-bottom: 24px;
        font-family: Jost;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
    }

    &-text {
       width: 400px;
       margin: 0 auto;
       color: #FFF;
       text-align: center;
       font-family: Jost;
       font-size: 16px;
       font-style: normal;
       font-weight: 400;
       line-height: 26px; 
    }
}